.border {
  border: 1px solid red;
}

.navlist {
  list-style-type: none;
  bottom: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.navlist-item {
  float: left;
}

.navlist-item-a {
  display: block;
  color: white;
  text-align: center;
  padding: 17px;
  text-decoration: none;
}

.navlist-item-a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}

.center {
  text-align: center;
}

.split {
  height: 80vh;
  width: 50%;
  position: relative;
  z-index: 1;
}

.left {
  float: left;
}

.right {
  float: right;
}

a.delete:hover {
  color: red;
}



label {
  display: block;
  padding-bottom: 0.5em;
}

label span {
  display: inline-block;
  width: 3em;
}

.label {
  display: inline-block;
  width: 7em;
}